.sidebar {
    box-shadow: none;
    transition: none;
}

.sidebar-toggle {
    display: none;
}

.links-of-author a::before {
    display: none;
    content: "";
    background: transparent;
}

.site-subtitle {
    display: block;
    font-size: .7rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: .35rem;
}

.posts-expand .post-title-link::before {
    transition: none;
}